  body {
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  }

#calendar {
  width: 1200px;
  margin: 0 auto;
}

.response {
  height: 60px;
}

.success {
  background: #cdf3cd;
  padding: 10px 60px;
  border: #c3e6c3 1px solid;
  display: inline-block;
}
.encabezado {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1%;
}
.rojo {
  color: #ff0000;
}
.azul {
  color: #0066ff;
}
.verde {
  color: #009900;
}
