#card0a2D {
  background-color: #d2d6de;
}
#card3a5D {
  background-color: #dff0d8;
}
#card6a14D {
  background-color: #fcf8e3;
}
#cardMas15D {
  background-color: #f2dede;
}
#card0a2M {
  background-color: #d2d6de;
}
#card3a5M {
  background-color: #dff0d8;
}
#card6a14M {
  background-color: #fcf8e3;
}
#cardMas15M {
  background-color: #f2dede;
}
body {
  background-color: #f5f5f5;
}
#txtBuscar0a2 {
  background-color: #a1a4ab;
  border: none;
}
#txtBuscar0a2:hover {
  background-color: #7988ad;
}
#txtBuscar3a5 {
  background-color: #afbdaa;
  border: none;
}
#txtBuscar3a5:hover {
  background-color: #95c285;
}
#txtBuscar6a14 {
  background-color: #c9c5b5;
  border: none;
}
#txtBuscar6a14:hover {
  background-color: #ccbe87;
}
#txtBuscarMas15 {
  background-color: #bfafaf;
  border: none;
}
#txtBuscarMas15:hover {
  background-color: #bb8282;
}
#btnMsg0a2 {
  background-color: #a1a4ab;
  border: none;
}
#btnMsg0a2:hover {
  background-color: #7988ad;
}
#btnMsg3a5 {
  background-color: #afbdaa;
  border: none;
}
#btnMsg3a5:hover {
  background-color: #95c285;
}
#btnMsg6a14 {
  background-color: #c9c5b5;
  border: none;
}
#btnMsg6a14:hover {
  background-color: #ccbe87;
}
#btnMsgMas15 {
  background-color: #bfafaf;
  border: none;
}
#btnMsgMas15:hover {
  background-color: #bb8282;
}
.acordeonPrincipal {
  background-color: #d2d6de;
}
.tablasPrincipales {
  background-color: #9896c7;
}
#TablaPGeneral {
  background-color: #ffffff;
}
.letreroCedula {
  background-color: #605ca8;
  color: #ffffff;
}
#btnDocsMostrar {
  background-color: #008d4c;
}
#encabezadoTabla {
  background-color: #605ca8;
  color: #ffffff;
}
#seccionBotones {
  background-color: #605ca8;
  color: #ffffff;
}
#encabezadoDatos {
  font-size: 30px;
  color: #ffffff;
}
.letreroModal{
  color: aliceblue;
  background-color: #605ca8;
}
.letreroCedulas{
  background-color: #9190c3;
}
.fechaInput {
  border: none;
}
.btnEjecutar{
  background-color: #605ca8;
}
.btnEjecutar:hover{
  background-color: #494681;
}
.fSeguimientoClass {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SiniestrosDesglozados {
  border: none;
  padding: 0%;
}
#svgCardCheck {
  padding: 0%;
  margin: 0%;
  border: none;
}
.letrerosDias {
  padding: 0%;
  border: none;
}
.fondodesglozados {
  background-color: transparent;
  border: none;
}
.accordion-button {
  background-color: #d2d6de;
}
#SeleccionaCalendario {
  padding: 0%;
  border: none;
  fill: none;
}
#FechaCargaBtn {
  padding: 0%;
  border: none;
  fill: none;
}
.btnSeleccionar {
  border-color: #ced4da;
}
#btnOffCanvasCita {
  background-color: #00b360;
  color: #ffffff;
}
#ulCitas {
  border-radius: 100px 100px 0px 0px;
}
#btnSeguimiento {
  background-color: #605ca8;
}
/*boton para agregar siniestros*/
#divAgregarSiniestro {
  background-color: #8584ac;
  border-radius: 5px 5px 5px 5px;
}
#btnEnviarCorreo {
  color: #ffffff;
  background-color: #26a5bf;
}
#generarPassword {
  background-color: #26a5bf;
  color: #ffffff;
}
.divDatosValidados {
  position: relative;
}

.btnDatosValidados {
  width: 80px;
  height: 80px;
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 30%;
  left: 50%;
  margin: -25px 0 0 -25px; /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
}
img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}
body {
  padding: 0px 10px 0px 10px;
}